@{
    ViewData["Title"] = "Bitácora del Sistema";
}
@await Html.PartialAsync("_EncabezadoModulo", "Bitácora de Actividades")

<div class="mb-3">
    <input type="text" id="filtroModulo" class="form-control" placeholder="Filtrar por módulo...">
</div>

<div id="contenedorTablaBitacora">
    <!-- Carga dinámica -->
</div>

@section Scripts {
    
   <script src ="~/Views/Admin/bitacora.js"></script>
}
