@{
    ViewData["Title"] = "Panel de Control";
}
@await Html.PartialAsync("_EncabezadoModulo", "Panel de Control")

<div class="row">
    @await Component.InvokeAsync("CardMetric", new
        {
            titulo = "Reservas",
            valor = "0",
            icono = "fas fa-calendar-alt",
            color = "primary"
        })

    @await Component.InvokeAsync("CardMetric", new
        {
            titulo = "Usuarios",
            valor = "0",
            icono = "fas fa-users",
            color = "success"
        })

    @await Component.InvokeAsync("CardMetric", new
        {
            titulo = "Espacios",
            valor = "0",
            icono = "fas fa-door-open",
            color = "info"
        })

    @await Component.InvokeAsync("CardMetric", new
        {
            titulo = "Incidencias",
            valor = "0",
            icono = "fas fa-exclamation-triangle",
            color = "danger"
        })
</div>

@section Scripts {
    <script src="~/Views/admin/dashboard.js"></script>
    
}
