@using SigesaWeb.Models.DTOs


@{
    ViewData["Title"] = "Gestión de Equipamiento";
}
@await Html.PartialAsync("_EncabezadoModulo", "Gestión de Equipamiento")

<div class="mb-3">
    @await Html.PartialAsync("_BotonAccion", new BotonAccionDTO
{
    Texto = "Nuevo Equipamiento",
    Icono = "fas fa-toolbox",
    Clase = "btn-warning",
    TargetModalId = "modalEquipamiento"
})
</div>

<div id="contenedorTablaEquipamiento">
    <!-- Tabla AJAX -->
</div>

@await Html.PartialAsync("_ModalConfirmacion", new ModalConfirmacionDTO
{
    IdModal = "modalEliminarEquipo",
    Titulo = "Eliminar Equipamiento",
    Mensaje = "¿Estás seguro de que deseas eliminar este equipamiento?",
    IdBotonConfirmar = "btnEliminarEquipamiento"
})

@section Scripts {
    <script src="~/Views/admin/equipamiento.js"></script>
}
