@{
    ViewData["Title"] = "Reportes del Sistema";
}
@await Html.PartialAsync("_EncabezadoModulo", "Generar Reportes")

<div class="row">
    <div class="col-md-6 mb-3">
        <button class="btn btn-outline-primary w-100" id="btnReporteUsuarios">
            <i class="fas fa-file-download"></i> Reporte de Usuarios
        </button>
    </div>
    <div class="col-md-6 mb-3">
        <button class="btn btn-outline-success w-100" id="btnReporteReservas">
            <i class="fas fa-file-download"></i> Reporte de Reservas
        </button>
    </div>
</div>

@section Scripts {
    
    <script src = "~/Views/Admin/reportes.js"></script>

}
